/*Common properties*/
*{
	border: 1px solid black;
}
body, .clear, html{
	border: none;
}
/*Just ordered space*/
.fullwrap {
	width: 460px;
	padding: 12px;
	margin: 20px auto;
}
.header {
	min-height: 60px;
}
.wrap {
	padding: 10px;
	margin: 10px 0 10px 0;
}
.main {
	width: 250px;
	min-height: 293px;
	float: left;
}
.sidebar {
	width: 160px;
	min-height: 293px;
	float: right;
}
.clear {
	clear: both;
}
.footer {
	min-height: 100px;
}
